:root {
    --bluef: #11405A;
    --orangef: #BE6513;
    --bluefd: #152e3b
}

body{
    background-image: url(/View/assets/images/Background.png);
}

.welcome-message {
    text-align: center; /* Centraliza o texto */
}
.bemvindo{
    color: #BE6513;
}
.conteudo{
    padding-top: 25px;
}
.card-section {
    display: flex;
    flex-direction: column; /* Alinha o título e o cartão verticalmente */
    justify-content: center; /* Centraliza o conteúdo */
    align-items: center; /* Centraliza o conteúdo */
    padding: 2em;
    border-style: solid;
    border-color: var(--orangef);
    border-radius: 10px;
    box-shadow: 10px 10px 10px 10px;
    margin:10px 10em;
    background-color: #11405A;
}

.card {
    background-image: url('/View/assets/images/cartaoimg.png');
    background-color: #11405A;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 350px;
    height: 100%; /* Altura fixa para o cartão */
    border-radius: 30px;
    padding: 20px; /* Espaço interno para o conteúdo */
    display: flex;
    flex-direction: column; /* Alinha o conteúdo verticalmente */
    justify-content: space-between; /* Espaça os itens dentro do cartão */
    position: relative; /* Permite ajustes finos no conteúdo */
    color: var(--bluef);
    border-style: none;
}

.nome_cartao{
    color: var(--bluef);
    margin-top: 60px;
}

.card-info {
    padding: 1em 1em 1em 1.5em;
    margin-top: 15px;
}


.card-details {
    display: flex;
    align-items: center; /* Centraliza verticalmente os itens */
    gap: 8em; /* Espaçamento entre a validade e a imagem */
}

.validade_cartao {
    padding-left: 1.4em;
}

/* Media Queries para responsividade */
@media (max-width: 650px) {
    .card-section {
        padding: 4em 1em; /* Diminui o padding para telas menores */
    }

    .card {
        height: auto; /* Deixa a altura do cartão dinâmica */
        padding: 1em; /* Ajusta o padding */
        border-radius: 30px;
    }

    .card-details {
        flex-direction: column; /* Muda para coluna em telas pequenas */
        align-items: flex-start; /* Alinha itens à esquerda */
        gap: 0.5em; /* Diminui o espaçamento */
    }

    .validade_cartao {
        padding-left: 0; /* Remove o padding desnecessário */
    }

    .numero_cartao {
        font-size: 1.2em; /* Aumenta o tamanho da fonte no mobile */
    }

    .nome_cartao {
        font-size: 1.5em; /* Aumenta o tamanho da fonte no mobile */
    }
}

.custom-table {
    max-width: 600px; /* Ajuste a largura máxima da tabela */
    margin: 0 auto; /* Centraliza a tabela na página */
}
.btn-center {
    display: block;
    margin: 20px auto; /* Centraliza o botão */
    background-color: #BE6513;
    color: #11405A;
}



.custom-table {
    background-color: #152e3b; /* Cor de fundo da tabela */
    color: #BE6513; /* Cor do texto da tabela */
    border-color: #BE6513; /* Cor da borda da tabela */;
}

.custom-table th, .custom-table td {
    border: 1px solid #BE6513; /* Borda das células */
}

.custom-table th {
    background-color: var(--bluefd); /* Cor de fundo para o cabeçalho da tabela */
    color: #BE6513; /* Cor do texto do cabeçalho */
}

.custom-table td {
    color: #BE6513; /* Cor do texto das células */
    background-color: var(--bluef);
}

.titulofatura{
    color: #BE6513;
}

.botaoPadrao:hover{
    background-color: #11405A;
    border-style: solid;
    border-color: #BE6513;
    color: #BE6513;
    text-decoration: underline;
}

.excluir-cartao {
    margin-left: 10px;
    margin-right: 5px; /* Espaçamento entre o link e o botão */
    color: #BE6513;
}

.menuCartao {
    background-color: #152e3b;
    border-style:solid 3px ;
    border-color: #BE6513;
}

.itemCartao{
    color: #BE6513;
}

.itemCartao:hover{
    background-color: #152e3b;
    color: white;
    text-decoration: underline;
}

.excluir-cartao:hover{
    color: red;
}

.botaoFechar{
    color: #BE6513;
}
 .botaoFechar:hover{
    color: #11405A;
    text-decoration: underline;
 }

 .botaoCadastrar{
    color: #BE6513;
 }

 .botaoCadastrar:hover{
    color: #11405A;
    text-decoration: underline;
 }

 .textoModal{
    color: #11405A;
 }