:root {
    --bluef: #11405A;
    --orangef: #be6613;
    --bluefd: #152e3b
}

body{
    background-image: url(/View/assets/images/Background.png);
}

.conteudo{
    padding-top: 25px;
}

@media (max-width: 650px) {
    .conteudo{
        padding-top: 150px;
    }
    .porquinhos{
        min-height: 30vmax;
    }
}

@media (min-width: 651px) {
    .conteudo{
        margin-right: 10vmax;
        margin-left: 10vmax;
        padding-left: 300px;
    }
}

@media (min-height: 1000px){
    .goal-container{
        min-width: 40vmax;
        margin-top: 150px;
        min-height: 60vmax;
    }
    .porquinhos{
        min-height: 42vmax;
    }
    .metaNum{
        margin-top: 15vmax;
    }
}

.goal-container {
    border: 3px solid var(--orangef);
    border-radius: 15px;
    box-shadow: 5px 5px 5px 5px #000;
    background-color: #11405A;
}

.goal-image {
    max-height: 30vmax;
    margin: 20px 0;
}

.porquinhos{
    height: 25vmax;
    background-color: var(--bluefd);
    border: solid 2px var(--orangef);
    border-radius: 15px;
}

.botaoPadrao:hover{
    background-color: #11405A;
    border-style: solid;
    border-color: #BE6513;
    color: #BE6513;
    text-decoration: underline;
}

.botaoPadrao{
    background-color: #BE6513;
    color: #11405A;
}

.botaoInf{
    margin-bottom: 1em;
    margin-right: 10px;
}

.titulo{
    color: #BE6513;
    margin-top: 25px;
    margin-bottom: 50px;
}

.lixinho{
    color: #BE6513;
}
.lixinho:hover{
    color: red;
}

.metacriada{
    color: green;
}

.sucesso{
    color: green;
}
.menuMeta{
    background-color: #152e3b;
    border-style:solid 3px ;
    border-color: #BE6513;
    }

    .itemMeta{
        color: #BE6513;
    }
    
    .itemMeta:hover{
        background-color: #152e3b;
        color: white;
        text-decoration: underline;
    }