:root {
    --bluef: #11405A;
    --orangef: #BE6513;
    --bluefd: #152e3b;
}



body{
    background-image: url(/View/assets/images/Background.png);
}

.conteudo{
    padding-top: 25px;
    margin-left: 5vmax;
    margin-right: 5vmax;
}
.simulador-container {
    text-align: center;
    border: 3px solid var(--orangef);
    border-radius: 15px;
    background-color: var(--bluef);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 1em;
    padding: 1.5em;
    transition: box-shadow 0.3s ease, border 0.3s ease;
}

.simulador-container:hover {
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.6);
}

.simulador-container h2 {
    color: var(--orangef);
    margin-top: 5px;
}

#simulador-form label {
    color: var(--orangef);
    font-weight: bold;
    display: block;
    margin-bottom: 0.5em;
}

#simulador-form input {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid var(--orangef);
    border-radius: 5px;
}

#simulador-form button {
    background-color: var(--orangef);
    color: #fff;
    padding: 0.7em 1.5em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#simulador-form button:hover {
    background-color: var(--orangef);
}

.resultado p {
    font-size: 1.5em;
    color: var(--orangef);
    text-align: center;
    margin-bottom: 20px;
}


@media (max-width: 650px) {
    .simulador-container {
        padding: 1em;
    }
}
