:root {
    --bluef: #11405A;
    --orangef: #BE6513;
    --bluefd: #152e3b
}

body{
    background-image: url(/View/assets/images/Background.png);
}

.welcome-message {
    text-align: center; /* Centraliza o texto */
}
.bemvindo{
    color: #BE6513;
}

.bemvindoMobile{
    color: #BE6513;
}
.conteudo{
    padding-top: 25px;
}


.areaCartao{
    border: 3px solid var(--orangef);
    border-radius: 15px;
    box-shadow: 5px 5px 5px 5px #000;
    background-color: #11405A;
}

.cartao{
    border: 3.8px solid var(--bluefd);
    border-radius: 40px;
    background-color: #BE6513;
    max-height: 40vmax;
    max-width: 45vmax;
    min-width: 30vmax;
    min-height: 20vmax;
    

}
.cartao-content {
    position: relative;
    padding: 20px 10px;
    height: 100%; /* Para que o conteúdo ocupe a altura total do cartão */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #BE6513;
}

.icon-container {
    position: absolute;
    top: 10px;
}

.card-icon {
    width: 5vmax; /* Ajuste o tamanho do ícone conforme necessário */
    height: 4vmax; /* Ajuste o tamanho do ícone conforme necessário */
}

.card-holder {
    margin-top: 50px; /* Espaço abaixo do ícone */
}

.card-holder-name {
    font-size: 1.5vmax; /* Ajuste o tamanho da fonte conforme necessário */
    color: #11405A;
}

.card-number {
    text-align: center;
    font-size: 2.3vmax; /* Tamanho maior para o número do cartão */
    margin: 10px 0; /* Espaçamento em cima e embaixo */
    color: #152e3b;
}

.numeroCartao{
    white-space: nowrap;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    font-size: 1.2vmax; /* Tamanho da fonte para validade e bandeira */
    margin-top: 3em;

    color: #152e3b;
}


.transactions {
    border: 3px solid var(--orangef);
    background-color: var(--bluef);
    box-shadow: 5px 5px 5px 5px #000;
    color: var(--orangef);
    border-radius: 15px;
    margin: 20px auto;
    padding: 20px;
    width: 100%;
    max-width: 350px;
}

.transaction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.transaction:last-child {
    border-bottom: none;
}

.transaction .icon img {
    width: 50px; /* Aumenta a largura do ícone */
    height: 50px; /* Aumenta a altura do ícone */
    border-radius: 50%; /* Torna o ícone circular */
    border: 2px solid var(--orangef); /* Adiciona uma borda ao redor do ícone */
    padding: 5px; /* Adiciona um pouco de espaço entre o ícone e a borda */

}

.transaction .details small {
    color: #777;
}

/* Media Queries para responsividade */
@media (max-width: 650px) {
    .card-section {
        padding: 4em 1em; /* Diminui o padding para telas menores */
    }
    .bemvindo{
        display: none;
    }
    .cartao{
        max-height: 35vmax;
    }

    .card-footer{
        font-size: 2vmax;
    }
    .card-holder-name{
        font-size: 2vmax;
    }
    
}

@media (min-width: 651px) {
    .bemvindoMobile{
        display: none;
    }
    .conteudo{
        margin-right: 10vmax;
        margin-left: 10vmax;
    }
}
@media (min-height:1024px) {
    .bemvindoMobile{
        display: none;
    }
    .conteudo{
        margin-right: 5vmax;
        margin-left: 5vmax;
    }
}

@media (min-width: 1000px){
    .card-number{
        font-size: 3vmax;
    }
    .card-holder-name{
        margin-top: 2vmax;
    }
}
.custom-table {
    max-width: 600px; /* Ajuste a largura máxima da tabela */
    margin: 0 auto; /* Centraliza a tabela na página */
}
.btn-center {
    display: block;
    margin: 20px auto; /* Centraliza o botão */
    background-color: #BE6513;
    color: #11405A;
}



.custom-table {
    background-color: #152e3b; /* Cor de fundo da tabela */
    color: #BE6513; /* Cor do texto da tabela */
    border-color: #BE6513; /* Cor da borda da tabela */;
}

.custom-table th, .custom-table td {
    border: 1px solid #BE6513; /* Borda das células */
}

.custom-table th {
    background-color: var(--bluefd); /* Cor de fundo para o cabeçalho da tabela */
    color: #BE6513; /* Cor do texto do cabeçalho */
}

.custom-table td {
    color: #BE6513; /* Cor do texto das células */
    background-color: var(--bluef);
}

.titulofatura{
    color: #BE6513;
}

.botaoPadrao:hover{
    background-color: #11405A;
    border-style: solid;
    border-color: #BE6513;
    color: #BE6513;
    text-decoration: underline;
}

.excluir-cartao {
    margin-left: 10px;
    margin-right: 5px; /* Espaçamento entre o link e o botão */
    color: #BE6513;
}

.menuCard {
    background-color: #152e3b;
    border-style:solid 3px ;
    border-color: #BE6513;
}

.itemCartao{
    color: #BE6513;
}

.itemCartao:hover{
    background-color: #152e3b;
    color: white;
    text-decoration: underline;
}

.excluir-cartao:hover{
    color: red;
}

.botaoFechar{
    color: #BE6513;
}
 .botaoFechar:hover{
    color: #11405A;
    text-decoration: underline;
 }

 .botaoCadastrar{
    color: #BE6513;
 }

 .botaoCadastrar:hover{
    color: #11405A;
    text-decoration: underline;
 }

 .textoModal{
    color: #11405A;
 }