:root {
    --bluef: #11405A;
    --orangef: #BE6513;
    --bluefd: #152e3b
}

body {
    background-image: url('../images/Background.png');
    background-attachment: fixed;
    font-family: "Bruno Ace", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.quadroCadastro{
    border: 3px solid var(--orangef);
    border-radius: 15px;
    box-shadow: 5px 5px 5px 5px #000;
    background-color: #11405A;
    padding: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
}
.tituloMobile{
    margin-bottom: 2em;
    color: #BE6513;
}

.tituloDesk{
    margin-bottom: 2em;
    color: #BE6513;
}
.info{
    color: #BE6513;
}

.quadroCadastro:hover{
    box-shadow: 10px 10px 10px 10px #000;
}

.botao{
    color: #11405A;
    background-color: var(--orangef);
    margin-top: 2em;
}

.botao:hover{
    color: #BE6513;
    background-color: #11405A;
    border: 2px solid var(--orangef);
    text-decoration: underline;
}

@media(max-height: 670px){
    .quadroCadastro{
        margin:auto
    }
}

@media(min-height: 800px){
    .quadroCadastro{
        margin-top: 3em;
    }
}

@media(min-height:1000px){
    .quadroCadastro{
        margin-top: 20vmax;
    }
}

@media(max-width:540px){
    .tituloDesk{
        display: none;
    }
}

@media(min-width:541px){
    .tituloMobile{
        display: none;
    }
}
    