<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Fintech</title>
    <link rel="stylesheet" href="/View/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/View/assets/css/styleHome.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <header>
        <nav class="navbar">
            <img class="logofin img-fluid" src="/View/assets/images/Logo.png" alt="Logo Fintech">
            <div class="nav-item" onclick="selectNavItem(this)">
                <a class="nav-link" aria-current="page" href="cartao.html" data-page="cartao"> <i class="fa-regular fa-credit-card icones"></i> Cartão</a>
            </div>
            <div class="nav-item" onclick="selectNavItem(this)">
                <a class="nav-link" href="transferencias.html" data-page="transferencias"><i class="fa-solid fa-money-bill-transfer icones"></i> Transferências</a>
            </div>
            <div class="nav-item" onclick="selectNavItem(this)">
                <a class="nav-link" href="investimentos.html" data-page="investimentos"><i class="fa-solid fa-money-bill-trend-up icones"></i> Investimentos</a>
            </div>
            <div class="nav-item" onclick="selectNavItem(this)">
                <a class="nav-link" href="metas.html" data-page="metas"> <i class="fa-solid fa-piggy-bank icones"></i> Metas</a>
            </div>
            <div class="nav-item" onclick="selectNavItem(this)">
                <a class="nav-link" href="perfil.html" data-page="perfil"><i class="fa-solid fa-user icones"></i> Perfil</a>
            </div>
            <div class="nav-item">
                <a class="nav-link">Sair</a>
            </div>
        </nav>
    </header>

    <div id="content" class="container-fluid">
        
        <!-- O conteúdo das páginas será carregado aqui -->

    </div>


<script src="/View/assets/js/bootstrap.bundle.min.js/assets/js/bootstrap.bundle.min.js" defer></script>
<script src="/View/assets/js/navegacao.js" defer></script>
    
</body>

</html>