<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carteira Digital</title>
    <link rel="stylesheet" href="/View/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/View/assets/css/styleNav.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/View/assets/css/styleMetas.css">
</head>


<body>
    <header>
        <div class="desktop">
            <nav class="navbar">
                <img class="logofin img-fluid" src="/View/assets/images/Logo2.png" alt="Logo Fintech">
                <div class="nav-item">
                    <a class="nav-link" aria-current="page" href="cartao.html" data-page="cartao"> <i class="fa-regular fa-credit-card icones"></i> Cartão</a>
                </div>
                <div class="nav-item">
                    <a class="nav-link" href="transferencias.html" data-page="transferencias"><i class="fa-solid fa-money-bill-transfer icones"></i> Transferências</a>
                </div>
                <div class="nav-item">
                    <a class="nav-link" href="investimentos.html" data-page="investimentos"><i class="fa-solid fa-money-bill-trend-up icones"></i> Investimentos</a>
                </div>
                <div class="active">
                    <a class="nav-link" href="metas.html" data-page="metas"> <i class="fa-solid fa-piggy-bank icones"></i> Metas</a>
                </div>
                <div class="nav-item">
                    <a class="nav-link" href="perfil.html" data-page="perfil"><i class="fa-solid fa-user icones"></i> Perfil</a>
                </div>
                <div class="nav-item">
                    <a class="nav-link">Sair</a>
                </div>
            </nav>
        </div>

        <div class="mobile">
            <a class="btn menuSandu" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
                <i class="fa-solid fa-bars"></i>
            </a>
            <img class="img-fluid logoMobile" src="/View/assets/images/Logo2.png" alt="Logo Fintech">
              <div class="offcanvas offcanvas-start navMobile" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
                <div class="offcanvas-header">
                <img class="logofin img-fluid" src="/View/assets/images/Logo2.png" alt="Logo Fintech">
                  <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <div>
                    <div class="nav-item itemMobile">
                        <a class="nav-link" aria-current="page" href="cartao.html" data-page="cartao"> <i class="fa-regular fa-credit-card icones"></i> Cartão</a>
                    </div>
                    <div class="nav-item itemMobile">
                        <a class="nav-link" href="transferencias.html" data-page="transferencias"><i class="fa-solid fa-money-bill-transfer icones"></i> Transferências</a>
                    </div>
                    <div class="nav-item itemMobile">
                        <a class="nav-link" href="investimentos.html" data-page="investimentos"><i class="fa-solid fa-money-bill-trend-up icones"></i> Investimentos</a>
                    </div>
                    <div class="active itemMobile">
                        <a class="nav-link" href="metas.html" data-page="metas"> <i class="fa-solid fa-piggy-bank icones"></i> Metas</a>
                    </div>
                    <div class="nav-item itemMobile">
                        <a class="nav-link" href="perfil.html" data-page="perfil"><i class="fa-solid fa-user icones"></i> Perfil</a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link">Sair</a>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </header>

    <div class="conteudo">
        <div class="container-fluid d-flex justify-content-center align-items-center">
            <div class="goal-container text-center container-fluid">
                <!-- Título -->
                <h1 class="mb-3 titulo">Metas Fintech</h1>
        
                <!-- Dropdown de Metas -->
                <div class="dropdown mb-3">
                    <button class="btn botaoPadrao dropdown-toggle" type="button" id="metaDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        Selecione a Meta
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="metaDropdown" id="metaList">
                        <!-- Itens de meta adicionados dinamicamente -->
                    </ul>
                </div>
        
                <!-- Espaço para a Imagem -->
                <div class="goal-image" id="goalImageContainer"></div>
        
                <!-- Meta Atual -->
                <div class="metaNum">
                    <p id="goalStatus">Nome da Meta: X/Y</p>
                </div>
        
                <!-- Botão Guardar $ (abre o modal) -->
                <button class="btn botaoPadrao botaoInf" data-bs-toggle="modal" data-bs-target="#addMoneyModal">Guardar $</button>
        
                <!-- Botão Criar Meta (abre o modal) -->
                <button class="btn botaoPadrao botaoInf" data-bs-toggle="modal" data-bs-target="#createGoalModal">Criar Meta</button>
            </div>
        </div>
        
        <!-- Modal para Adicionar Dinheiro -->
        <div class="modal fade" id="addMoneyModal" tabindex="-1" aria-labelledby="addMoneyModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addMoneyModalLabel">Adicionar Valor</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <input type="number" class="form-control" id="addAmount" placeholder="Digite o valor" min="0">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn botaoPadrao" onclick="addMoney()">Adicionar</button>
                        <button type="button" class="btn botaoPadrao" data-bs-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Modal para Criar Meta -->
        <div class="modal fade" id="createGoalModal" tabindex="-1" aria-labelledby="createGoalModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="createGoalModalLabel">Criar Meta</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <input type="text" class="form-control mb-3" id="goalName" placeholder="Nome da Meta">
                        <input type="number" class="form-control" id="goalValue" placeholder="Valor da Meta" min="1">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn botaoPadrao" onclick="createGoal()">Criar</button>
                        <button type="button" class="btn botaoPadrao" data-bs-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="notificationModal" tabindex="-1" aria-labelledby="notificationModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="notificationModalLabel">Notificação</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body metacriada">
                    Meta Criada!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn botaoPadrao" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="goalCompletedModal" tabindex="-1" aria-labelledby="goalCompletedModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="goalCompletedModalLabel">Parabéns!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body sucesso">
                    Parabéns! Você concluiu a Meta!!!!! 
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn botaoPadrao" onclick="concludeGoal()">Concluir Meta</button>
                </div>
            </div>
        </div>
    </div>




<script src="/View/assets/js/bootstrap.bundle.min.js" defer></script>
<script src="/View/assets/js/meta.js"></script>
</body>

</html>