<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carteira Digital</title>
    <link rel="stylesheet" href="/View/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/View/assets/css/styleNav.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/View/assets/css/styleTransferencias.css">
</head>


<body>
    <header>
        <div class="desktop">
            <nav class="navbar">
                <img class="logofin img-fluid" src="/View/assets/images/Logo2.png" alt="Logo Fintech">
                <div class="nav-item">
                    <a class="nav-link" aria-current="page" href="cartao.html" data-page="cartao"> <i class="fa-regular fa-credit-card icones"></i> Cartão</a>
                </div>
                <div class="active">
                    <a class="nav-link" href="transferencias.html" data-page="transferencias"><i class="fa-solid fa-money-bill-transfer icones"></i> Transferências</a>
                </div>
                <div class="nav-item">
                    <a class="nav-link" href="investimentos.html" data-page="investimentos"><i class="fa-solid fa-money-bill-trend-up icones"></i> Investimentos</a>
                </div>
                <div class="nav-item">
                    <a class="nav-link" href="metas.html" data-page="metas"> <i class="fa-solid fa-piggy-bank icones"></i> Metas</a>
                </div>
                <div class="nav-item">
                    <a class="nav-link" href="perfil.html" data-page="perfil"><i class="fa-solid fa-user icones"></i> Perfil</a>
                </div>
                <div class="nav-item">
                    <a class="nav-link">Sair</a>
                </div>
            </nav>
        </div>

        <div class="mobile">
            <a class="btn menuSandu" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
                <i class="fa-solid fa-bars"></i>
            </a>
            <img class="img-fluid logoMobile" src="/View/assets/images/Logo2.png" alt="Logo Fintech">
              <div class="offcanvas offcanvas-start navMobile" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
                <div class="offcanvas-header">
                <img class="logofin img-fluid" src="/View/assets/images/Logo2.png" alt="Logo Fintech">
                  <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <div>
                    <div class="nav-item itemMobile">
                        <a class="nav-link" aria-current="page" href="cartao.html" data-page="cartao"> <i class="fa-regular fa-credit-card icones"></i> Cartão</a>
                    </div>
                    <div class="active itemMobile">
                        <a class="nav-link" href="transferencias.html" data-page="transferencias"><i class="fa-solid fa-money-bill-transfer icones"></i> Transferências</a>
                    </div>
                    <div class="nav-item itemMobile">
                        <a class="nav-link" href="investimentos.html" data-page="investimentos"><i class="fa-solid fa-money-bill-trend-up icones"></i> Investimentos</a>
                    </div>
                    <div class="nav-item itemMobile">
                        <a class="nav-link" href="metas.html" data-page="metas"> <i class="fa-solid fa-piggy-bank icones"></i> Metas</a>
                    </div>
                    <div class="nav-item itemMobile">
                        <a class="nav-link" href="perfil.html" data-page="perfil"><i class="fa-solid fa-user icones"></i> Perfil</a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link">Sair</a>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </header>

    <div class="conteudo">
        <body class="text-center">

            <div class="container-fluid mt-4">
                <!-- Saldo Atual -->
                <div class="saldo text-center p3">
                    Seu Saldo Atual é: <span id="saldo">R$ 0,00</span>
                </div>
            
                <!-- Botão Adicionar Valor e Tabela -->
                <div class="mt-5">
                    <button class="btn botaoPadrao" data-bs-toggle="modal" data-bs-target="#modalFormulario">Adicionar Valor</button>
                </div>
            
                <!-- Modal Formulário -->
                <div class="modal fade" id="modalFormulario" tabindex="-1" aria-labelledby="modalFormularioLabel" aria-hidden="true">
                    <div class="modal-dialog modalTrans">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title textoForm" id="modalFormularioLabel">Adicionar Transferência</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form id="formularioTransferencia">
                                    <div class="mb-3">
                                        <label for="nome" class="form-label textoForm">Nome na Transferência</label>
                                        <input type="text" class="form-control" id="nome" placeholder="Ex:Mercado, Salário, Pix...">
                                    </div>
                                    <div class="mb-3">
                                        <label for="valor" class="form-label textoForm">Valor</label>
                                        <input type="number" class="form-control" id="valor" step="0.01" placeholder="R$" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="data" class="form-label textoForm">Data</label>
                                        <input type="date" class="form-control" id="data" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="tipo" class="form-label textoForm">Tipo</label>
                                        <select class="form-select" id="tipo" required>
                                            <option class="opcao" value="recebimento">Recebimento</option>
                                            <option class="opcao" value="pagamento">Pagamento</option>
                                        </select>
                                    </div>
                                    <div class="text-success" id="mensagemSucesso" style="display: none;">Valor Adicionado com Sucesso!</div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn botaoPadrao" onclick="adicionarTransferencia()">Adicionar</button>
                                <button type="button" class="btn botaoPadrao" data-bs-dismiss="modal">Fechar</button>
                            </div>
                        </div>
                    </div>
                </div>
            
                <!-- Tabela de Transferências -->
                <div class="mt-4 divTabela text-center">
                    <table class="table corpoTabela">
                        <thead class="cabecalho">
                            <tr>
                                <th class="coluna">Nome</th>
                                <th class="coluna">Valor</th>
                                <th class="coluna">Data</th>
                                <th class="coluna">Tipo</th>
                            </tr>
                        </thead>
                        <tbody id="tabelaTransferencias">
                            <tr id="mensagemVazia">
                                <td colspan="4" class="mensagem-vazia coluna">
                                    <h2 class="semVal">Sem valores por enquanto...</h2>
                                    <img src="/View/assets/images/porquinhoQuebrado.png" alt="Cofrinho Quebrado" class="cofrinhoQuebrado">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            
    </div>




<script src="/View/assets/js/bootstrap.bundle.min.js" defer></script>
<script src="/View/assets/js/transferencias.js"></script>
</body>

</html>